<section layout="column" flex = "grow">
  <md-content flex="auto">
      <md-toolbar class="md-primary md-hue-1 " style="background-color:#689a5a">
        <div class="md-toolbar-tools md-toolbar-tools-bottom main-toolbar">
          <img src="src/img/logo.w.t.png" alt="" style="margin-left:0px; height:50px; max-width:80px"/>
          <span style="color:#fff; font-weight:bolder">CodePair</span>
          <span flex></span>
          <span>
              <md-button class="md-raised" ng-click="logout()">
                logout
                <ng-md-icon icon="logout" style="fill:black" md-menu-align-target ></ng-md-icon>
              </md-button>
          </span>
        </div>
      </md-toolbar>
  </md-content>
  <md-content flex="auto" layout="row" layout-align="space-around center top"
     style="margin-top:2em; min-height:40em">
    <div class="md-whiteframe-0dp" flex="50" flex-xs="100mmjnhhvdzxzqedp"
         style="margin-right:4em; margin-left:2em;">

      <div class="md-whiteframe-1dp" style="padding:.7em">
        <span style="margin-top:0" layout="row"  layout-align="space-between center">
          <div style="padding:.7em" flex="grow">
            <span style="font-size:1.4em;font-weight:bold">My snippets</span>
          </div>
          <span>
            <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="createCodePair(newCodePairSchema)" ng-show="mode=='view'">
                <ng-md-icon icon="add" style="fill:black" md-menu-align-target ></ng-md-icon>
            </md-button>

            <md-button class="md-fab md-mini" ng-click="toggleView()" ng-show="mode=='edit'">
              <ng-md-icon icon="cancel" style="fill:black" md-menu-align-target ></ng-md-icon>
            </md-button>
          </span>
        </span>
      </div>

      <md-content ng-show="mode == 'edit'" style="padding:1em; margin-bottom:2em; margin-top:2em" class="md-whiteframe-1dp">
        <form name="editableCodePairForm">
          <md-input-container>
            <label for="title">Title</label>
            <input type="text"
                   ng-model="editableCodePair.title"
                   required
                   minlength="5"
                   md-maxlength="50">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Description</label>
              <textarea ng-model="editableCodePair.description"
                 md-maxlength="150"
                 rows="5"
                 md-select-on-focus
                 required></textarea>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Select a language</label>
            <md-select ng-model="editableCodePair.language">
              <md-option ng-repeat="lang in languages" value="{{lang}}">
                {{lang}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-whiteframe class="md-whiteframe-2dp" layout="column" layout-align="center end" style="margin-top:1em; padding:0">
            <md-button class=" md-raised md-primary md-cornered"
                style="margin:0px; width:100%; color:#fff"
                ng-disabled="editableCodePairForm.$invalid || creatingCodePair"
                ng-click="editType == 'old' ? saveUpdates() : saveNewPair() ">
              {{editType == 'old' ? 'Save Updates' : 'Create'}}
              <ng-md-icon icon="keyboard_arrow_right" md-menu-align-target ></ng-md-icon>
            </md-button>
            <md-progress-linear md-mode="indeterminate" ng-show="creatingCodePair"></md-progress-linear>
          </md-whiteframe>
        </form>
      </md-content>

      <md-whiteframe class="md-whiteframe-2dp" layout="column" flex="100"
          style="padding:1em; margin-bottom:2em; margin-top:2em"
          ng-show="mode!='edit'"
          ng-repeat="(ref,codePair) in codePairs">
          <md-card-title ng-click="startPairProgramming(ref)">
            <md-card-title-text >
              <a class="md-headline" style="cursor:pointer">
                {{codePair.title}}
              </a>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p style="font-size:1.2em; padding-bottom:1.5em;padding-top:.5em; color:#A2A2A2">
              {{codePair.description}}
            </p>
            <p>
              language: <b>  {{codePair.language}}</b>
            </p>
          </md-card-content>
          <md-whiteframe class="md-whiteframe-0dp" layout="row" layout-align="space-between" flex="100"
              style="padding:.5em 0">
              <md-button class="md-raised md-mini" ng-click="editCodePair(ref , codePair)">
                edit
                <ng-md-icon icon="edit" style="fill:black md-menu-align-target" ></ng-md-icon>
              </md-button>
              <md-button class="md-raised md-mini">
                Delete
              </md-button>
          </md-whiteframe>
      </md-whiteframe>

      <div class="md-whiteframe-1dp"
         flex="100" layout="column"
         layout-align="center center"
         style="height:15em"
         ng-show="codePairs.length == 0 && mode!='edit'">
           <h3>No CodePairs created by you</h3>
      </div>
    </div>

  </md-content>
</section>
