<section layout="column" flex = "grow">
  <md-content flex="auto">
      <md-toolbar class="md-primary md-hue-1 " style="background-color:#689a5a">
        <div class="md-toolbar-tools md-toolbar-tools-bottom main-toolbar">
          <img src="src/img/logo.w.t.png" alt="" style="margin-left:0px; height:50px; max-width:80px" ng-click="toggle(loggedInUser ? 'left' : 'right')"/>
          <span style="color:#fff; font-weight:bolder">CodePair</span>
          <span flex></span>
          <span>
              <md-button class="md-raised" ng-click="logout()">
                logout
                <ng-md-icon icon="logout" style="fill:black" md-menu-align-target ></ng-md-icon>
              </md-button>
          </span>
        </div>
      </md-toolbar>
  </md-content>
  <md-content flex="auto" layout="row" layout-align="space-around center top"
     style="margin-top:2em; min-height:40em">
    <div class="md-whiteframe-0dp" flex="40" style="margin-right:4em; margin-left:2em;">

      <div class="md-whiteframe-1dp" style="padding:.7em">
        <span style="margin-top:0" layout="row"  layout-align="space-between center">
          <div style="padding:.7em" flex="grow">
            <span style="font-size:1.4em;font-weight:bold">My snippets</span>
          </div>
          <span>
            <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="toggleView()" ng-show="mode=='view'">
                <ng-md-icon icon="add" style="fill:black" md-menu-align-target ></ng-md-icon>
            </md-button>

            <md-button class="md-fab md-mini" ng-click="toggleView()" ng-show="mode=='edit'">
              <ng-md-icon icon="cancel" style="fill:black" md-menu-align-target ></ng-md-icon>
            </md-button>
          </span>
        </span>
      </div>

      <md-content ng-show="mode == 'edit'" style="padding:1em; margin-bottom:2em; margin-top:2em" class="md-whiteframe-1dp">
        <form name="newCodePairForm">
          <md-input-container>
            <label for="title">Title</label>
            <input type="text"
                   ng-model="newCodePair.title"
                   required
                   minlength="5"
                   md-maxlength="50">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Description</label>
              <textarea ng-model="newCodePair.description"
                 md-maxlength="150"
                 rows="5"
                 md-select-on-focus
                 required></textarea>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Select a language</label>
            <md-select ng-model="newCodePair.language">
              <md-option ng-repeat="lang in languages" value="{{lang}}">
                {{lang}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-whiteframe class="md-whiteframe-2dp" layout="column" layout-align="center end" style="margin-top:1em; padding:0">
            <md-button class=" md-raised md-primary md-cornered"
                style="margin:0px; width:100%; color:#fff"
                ng-disabled="newCodePairForm.$invalid || creatingCodePair"
                ng-click="createCodePair(newCodePair)">
              create
              <ng-md-icon icon="keyboard_arrow_right" md-menu-align-target ></ng-md-icon>
            </md-button>
            <md-progress-linear md-mode="indeterminate" ng-show="creatingCodePair"></md-progress-linear>
          </md-whiteframe>
        </form>
      </md-content>

      <md-whiteframe class="md-whiteframe-2dp" layout="column" flex="100"
          style="padding:1em; margin-bottom:2em; margin-top:2em"
          ng-click="startPairProgramming(codePair)"
          ng-show="user.codeList.created.length >0 && mode!='edit'"
          ng-repeat="codePair in user.codeList.created">

          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{codePair.title}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              {{codePair.description}}
            </p>
            <md-divider ></md-divider>
            <p>
              language: <b>  {{codePair.language}}</b>
            </p>
            <p>
              <md-button class="md-raised">
                edit
                <ng-md-icon icon="edit" style="fill:black md-menu-align-target" ></ng-md-icon>
              </md-button>
              <md-button class="md-raised">
                Delete
              </md-button>
            </p>
          </md-card-content>
      </md-whiteframe>

      <div class="md-whiteframe-1dp"
         flex="100" layout="column"
         layout-align="center center"
         style="height:15em"
         ng-show="user.codeLists.created.length == 0 && mode!='edit'">
           <h3>No CodePairs created by you</h3>
      </div>
    </div>



    <div class="md-whiteframe-0dp" flex="40">
      <div class="md-whiteframe-1dp" style="padding:.7em">
        <span style="margin-top:0" layout="row"  layout-align="space-between center">
          <div style="padding:.7em" flex="grow">
            <span style="font-size:1.4em;font-weight:bold">Invited sessions</span>
          </div>
        </span>
      </div>
      <md-whiteframe class="md-whiteframe-2dp" layout="column" flex="100"
          style="padding:1em; margin-bottom:2em; margin-top:2em">

          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Title here</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              Describe why the class is interesting
            </p>
            <md-divider ></md-divider>
            <p>
              language: <b>  java</b>
            </p>
          </md-card-content>
      </md-whiteframe>
      <div class="md-whiteframe-1dp"
         flex="100" layout="column"
         layout-align="center center"
         style="height:15em"
         ng-show="user.codeLists.invited.length == 0">
           <h3>No invites yet</h3>
      </div>
    </div>

  </md-content>
</section>
