<div layout="column">
  <section>
    <md-content flex="auto">
        <md-toolbar class="md-primary md-hue-1 " style="background-color:#689a5a" layout="row" layout-align="space-between center">
          <md-button class="md-raised" style="margin-top:1em; padding:0 1em" ng-click="togglelangOptionMenu()">
            <b>{{activeLang}}</b>
            <ng-md-icon icon="arrow_drop_down" style="fill:black" md-menu-align-target ></ng-md-icon>
          </md-button>
          <div>
            <h3 style='font-weight:bold; color:#FFF;margin-left:-2em'>
               <a ui-sref="app" style="text-decoration:none;color:#fff">
                 <ng-md-icon icon="home" style="fill:white;margin-top:-.5em" size="28" md-menu-align-target ></ng-md-icon>
                 Code<i>Pair</i></a>
            </h3>
          </div>

          <md-button class="md-icon-button" ng-click="togglePeerMenu()">
            <ng-md-icon icon="{{peerMenuVisible ? 'cancel' : 'menu'}}" style="fill:white" md-menu-align-target ></ng-md-icon>
          </md-button>
        </md-toolbar>

        <div layout="column">
            <div class="" layout="row">
              <div class="language-options md-whiteframe-6dp" ng-show="langMenuVisible" flex="55">
                  <span class="option" ng-repeat="lang in languages" ng-click="setLang(lang)">
                     {{lang}}
                  </span>
              </div>
            </div>


              <md-content class="peer-menu" ng-show="peerMenuVisible">
                <md-tabs class="md-accent" md-selected="data.selectedIndex" style="height:30em">
                  <md-tab id="tab1" >
                    <md-tab-label>Chat</md-tab-label>
                    <md-tab-body>
                      <div class="body">
                        <!---->
                        <!---->
                        <fire-chat ref="{{membersRef}}" member="{{member}}"></fire-chat>
                        <!---->
                        <!---->
                      </div>
                    </md-tab-body>
                  </md-tab>
                  <md-tab id="tab1">
                    <md-tab-label>Members</md-tab-label>
                    <md-tab-body>
                      <div class="body">
                        <!---->
                        <!---->
                        <members ref="{{pairCode.membersRef}}" member="{{member}}"></members>
                        <!---->
                        <!---->
                      </div>
                    </md-tab-body>
                  </md-tab>
                  <md-tab id="tab3">
                    <md-tab-label>New Invite</md-tab-label>
                    <md-tab-body>
                      <div class="body">
                        <h2>Invite a new member</h2>
                        <p>
                          <md-input-container>
                            <label for="username">Copy the url below and share with your friends</label>
                            <input type="text"
                               ng-model="sessionUrl"
                               required
                               minlength="5"
                               md-maxlength="40">
                          </md-input-container>
                        </p>
                      </div>
                    </md-tab-body>
                  </md-tab>
                  <md-tab id="tab2">
                    <md-tab-label>Instructions</md-tab-label>
                    <md-tab-body>
                      <div class="body">
                        <h2>{{pairCode.title}}</h2>
                        <p>
                            {{pairCode.description}}
                        </p>
                      </div>
                    </md-tab-body>
                  </md-tab>
                </md-tabs>
              </md-content>

              <md-content flex="auto">
                <!---->
                <!---->
                <mypad ref="{{pairCode.snippetRef}}" mode="activeLang"></mypad>
                <!---->
                <!---->
            </md-content>

        </div>
    </md-content>
  </section>
</div>
